@import 'vars';

html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body{//средние показатели шрифта на страницах
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
	color: $default;
	//стандартные настройки
	overflow-x: hidden;
	min-width: 300px;
}



.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
//для мониторов с разрешением больше 1920px
.container-fluid{
	min-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
	
}

.header {
	flex: 0 0 auto;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
//преображаем точки слайдера глобально для всех страниц
.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	li{
		margin: 0 15px;
	}
	button{
		background-color: $title;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	li.slick-active{
		button{
			background-color: #FFEF35;
		}
	}
}

//for global use
.info-email{
	font-weight: 600;
	font-size: 14px;
	color: $title;
	margin-bottom: 22px;
	padding-left: 30px;//место для конверта
	display: inline-block;
	position: relative;
	&::before{
		content: '';
		background-image: url(../images/envelope.svg);
		position: absolute;
		top: 8px;
		left: 0;
		width: 16px;
		height: 12px;
	}
}
.form-button{
	min-width: 160px;
	padding: 6px 12px;
	border: none;
	border-radius: 21px;
	background-color: $title;
	font-weight: 600;
	color: #FFFFF0;
	margin-left: 9px;
	cursor: pointer;
}
.form-button--blog{
	margin-left: 0;
}








