@import 'vars';

@media (max-width: 1200px){}

@media (max-width: 1340px){
    .top{
        &__inner {
            &::after {
                height: 600px;
            }
        }
    
        &__slider-title {
            font-size: 82px;
            line-height: 94px;
        }
    
        &__slider-text {
            max-width: 400px;
        }
    
        &__slider-img {
            min-width: 600px;
            height: 100%;
        }
    }
    .new-collection{
        padding-top: 0;
    }
    .collection{
        grid-template-columns: repeat(3, 1fr);
        &__image{
            width: 100%;
        }
    }
}

@media (max-width: 1200px){
    .top {
        &__inner {
            &::after {
                height: 600px;
            }
        }
        &__slider-title {
            font-size: 62px;
            line-height: 74px;
        }   
        &__slider-text {
            max-width: 400px;
        }    
        &__slider-img {
            min-width: 500px;
            height: 100%;
        }
    }
}

@media (max-width: 992px){
    .footer__info{
        width: 380px;
    }
    .top{
        &__inner {
            &::after {
                height: 600px;
            }
        }
    
        &__slider-title {
            font-size: 44px;
            line-height: 54px;
        }
    
        &__slider-text {
            max-width: 400px;
        }
    
        &__slider-img {
            margin-right: 25px;
            min-width: 400px;
            height: 100%;
        }
    }
    .galery{
        &__items{
            grid-gap: 10px;
        }
        &__btn{
            margin: 0;
            padding: 6px 10px;
        }
    }
    .about{ 
        p{
            padding-left: 0;
        }
    }
}

@media (max-width: 840px){
    .collection{
        grid-template-columns: repeat(2, 1fr);
        &__image{
            width: 100%;
        }
    }
    .works-path{
        &__item {
            width: 350px;
        }
    
        &__item--production {
            margin-left: 50px;
        }
    }
}

@media (max-width: 768px){
    .header__btn{
        display: none;
    }
    .menu{
        padding: 0;
    }
    .logo{
        margin: 0;
    }
    .footer{
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
    
        &__info {
            width: 100%;
            margin-bottom: 50px;
        }
    
        &__info-text {
            max-width: 100%;
        }
    
        &__social,
        &__menu {
            margin: 0 auto;
        }
    }
    .decor{
        padding: 70px 0 55px;
    }
    .works-path__item--measuring{
        margin-left: 100px;
    }
    .galery{
        &__buttons{
            display: grid;
        }
        &__btn{
            margin-bottom: 10px;
        }
    }
    .about{
        p{
            margin-bottom: 10px;
        }
        &__prev{
            padding: 80px 0;
        }
        &__content{
            padding: 40px 0;
        }
        &__title{
            font-size: 24px;
            line-height: 38px;
        }
        &__popup{
            min-height: 250px;
            margin-bottom: 40px;
        }
    }
    .inspiration{
        &__img{
            display: none;
        }
        &__content{
            padding-left: 0;
        }
    }
    .partners{
        &__item{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 700px){
    .top{
        &__inner{
            &::after{
                height: 300px;
            }
        }
        &__slider-item{
            .top__slider-img{
                display: none;
            }
        }
        &__slider-info{
            padding-top: 35px;
        }
    }
}

@media (max-width: 650px){
    .works-path{
        &__item{
            width: 100%;
        }
        &__items-box{
            display: flex;
            flex-wrap: wrap;
            border-bottom: none;
        }
        &__items-box::after,
        &__item--production::after,
        &__item--measuring::before{
            display: none;
        }
        &__item--production,
        &__item--measuring{
            margin-left: 0;
        }
        &__item--production{
            order: 1;
            padding-bottom: 0;
        }
        &__item--measuring{
            padding-top: 0;
            padding-bottom: 30px;
        }
    }
    .blog-box{
        &__items{
            display: block;
        }__item{
            padding-bottom: 20px;
        }
        &
        &__link{
            display: block;
        }
        &__img{
            width: 100%;
        }
    }
}

@media (max-width: 540px){
    .header{
        &__inner {
            flex-wrap: wrap;
            padding-top: 42px;
        }
    
        &__btn-menu {
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            order: -1;
            position: relative;
            z-index: 12;
    
            &:hover {
                border: 1px solid black;
                border-radius: 6px;
            }
    
            span {
                background-color: black;
                height: 3px;
                width: 37px;
                border-radius: 4px;
                display: block;
                margin: 6px 0;
            }
        }
    }
    .logo{
        //move it to the left on one step
        order: -1;
        position: relative;
        z-index: 12;
    }
    .menu{
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all .5s;
        &--open{
            transform: translateY(30px);
        }   
        &__list {
            display: block;
        }
    
        &__list-item+.menu__list-item {
            padding-left: 0;
        }
    
        &__list-link {
            display: block;
            padding: 15px 0;
        }
    }
    .new-collection__title{
        font-size: 28px;
        line-height: 36px;
    }
    .collection{
        grid-template-columns: repeat(1, 1fr);
    }
    .decor__title,
    .inspiration__title {
        font-size: 28px;
        line-height: 36px;
    }
    .galery{
        &__items{
            grid-template-columns: repeat(1, 1fr);
        }
        &__item:first-child{
            grid-column: span 1;
            grid-row: span 1;
        }
    }
    .blog-box{
        &__title {
            font-size: 28px;
            line-height: 36px;
        }
    
        &__item-title {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .inspiration{
        margin-bottom: 50px;
        &__item__text,
        &__number{
        font-size: 16px;
        line-height: 23px;
        }
        &__item__text{
            margin-right: 10px;
        }
    }
    .partners{
        display: none;
    }
}

@media (max-width: 507px){
    .top__inner{
        &::after{
            height: 335px;
        }
    }
}

@media (max-width: 375px){
    .top__inner{
        padding-bottom: 50px;
    }
    .footer{
        &__inner {
            justify-content: space-between;
        }
    
        &__form {
            display: block;
        }
    
        &__social {
            margin-left: 0;
        }
    }
    .form-button{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }   
}