@media (max-width: 1200px){}

@media (max-width: 992px){
    .footer__info{
        width: 380px;
    }
}

@media (max-width: 768px){
    .header__btn{
        display: none;
    }
    .menu{
        padding: 0;
    }
    .logo{
        margin: 0;
    }
    .footer__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__info{
        width: 100%;
        margin-bottom: 50px;
    }
    .footer__info-text{
        max-width: 100%;
    }
    .footer__social,
    .footer__menu{
        margin: 0 auto;
    }
}

@media (max-width: 540px){
    .header__inner{
        flex-wrap: wrap;
        padding-top: 42px;
    }
    .logo{
        //move it to the left on one step
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header__btn-menu{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: -1;
        position: relative;
        z-index: 12;
        &:hover{
            border: 1px solid black;
            border-radius: 6px;
        }
        span{
            background-color: black;
            height: 3px;
            width: 37px;
            border-radius: 4px;
            display: block;
            margin: 6px 0;
        }
    }
    .menu{
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all .5s;
        &--open{
            transform: translateY(30px);
        }
    }
    .menu__list{
        display: block;
    }
    .menu__list-item+.menu__list-item{
        padding-left: 0;
    }
    .menu__list-link{
        display: block;
        padding: 15px 0;
    }
}

@media (max-width: 375px){
    .footer__inner{
        justify-content: space-between;
    }
    .footer__form{
        display: block;
    }
    .form-button{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .footer__social{
        margin-left: 0;
    }
}